@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

@theme {
  /* Colors */
  --color-primary: #D4A017;
  --color-secondary: #C19A6B;

  /* Border Radius */
  --border-radius-none: 0px;
  --border-radius-sm: 4px;
  --border-radius-default: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
  --border-radius-3xl: 32px;
  --border-radius-full: 9999px;
  --border-radius-button: 8px;
}